$header_height: 50px;

// adding color to bootstrap
$theme-colors: (
  "t_header": #0073aa
);

#wp-tripetto-edit {
  position: absolute;
  top: 46px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;

  @media screen and (min-width: 783px) {
    top: 32px;
    left: 36px;
  }

  @media screen and (min-width: 961px) {
    top: 32px;
    left: 160px;

    @at-root body.folded {
      #wp-tripetto-edit {
        left: 36px;
      }
    }
  }

  &.fullscreen {
    left: 0;
    top: 0;
    z-index: 9999999999;
  }

  &.ready {
    opacity: 1;
  }

  // Header
  > div:first-child {
    @import "~bootstrap/scss/bootstrap";
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    height: $header_height;
    background-color: white;
    border-bottom: 1px solid rgb(197, 217, 232);
    z-index: 1;
    cursor: default;
    line-height: normal !important;

    > div {
      display: flex;
      align-items: center;
      white-space: nowrap;

      &.header-left {
        white-space: nowrap;
        overflow: hidden;
      }

      h1 {
        color: rgb(44, 64, 90);
        font-size: 18px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        width: 100%;
      }

      button {
        white-space: nowrap;
      }

      .saved {
        color: green;
        opacity: 0;
        transition: opacity 0.8s;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.1);
        }

        100% {
          transform: scale(1);
        }
      }

      .pulse {
        opacity: 1;
        animation: pulse 0.8s linear;
      }
    }

    span.premium {
      position: relative;
      top: 1px;
      font-size: 9px;
      text-transform: uppercase;
      background-color: #ffd700;
      color: #fff;
      padding: 0px 5px;
      margin-left: 6px;
      border-radius: 4px;
    }
  }

  // Editor
  > div:nth-child(2) {
    position: absolute;
    left: 0;
    top: $header_height;
    right: 0;
    bottom: 0;
    overflow: hidden;

    > iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  // Preview
  > div:last-child {
    position: absolute;
    top: $header_height;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: opacity 0.2s, width 0.2s;
    box-shadow: 0px 0px 8px 0px #c5d9e8;
    overflow: hidden;

    > iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &.preview {
    &-mobile {
      > div:nth-child(2) {
        right: 384px;
      }

      > div:last-child {
        display: block;
        width: 384px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-tablet {
      > div:nth-child(2) {
        right: 768px;
      }

      > div:last-child {
        display: block;
        width: 768px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-desktop {
      > div:nth-child(2) {
        right: 992px;
      }

      > div:last-child {
        display: block;
        width: 992px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

@media screen and (max-width: 783px) {
  #tripetto-editor {
    top: 46px;
    left: 0px;
  }
}

@media screen and (min-width: 783px) {
  #tripetto-editor {
    left: 36px;
  }
}

@media screen and (min-width: 961px) {
  #tripetto-editor {
    left: 160px;
  }
}
