$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.tripetto-wrap {
  ul.fa-ul {
    margin-left: 2.5em !important;

    li {
      display: block;
      padding-bottom: 10px;
    }
  }

  .fa,
  .fas {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
  }

  .fas,
  .fab {
    margin-right: 6px;
  }

  h3 {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    padding-bottom: 12px !important;
  }

  span.premium {
    position: relative;
    top: -1px;
    font-size: 9px;
    text-transform: uppercase;
    background-color: #ffd700;
    color: #333;
    padding: 2px 5px;
    margin-left: 6px;
    border-radius: 4px;
  }

  .welcome-panel {
    .fas,
    .fab {
      color: #82878c;
      font-size: 16px;
    }

    .welcome-panel-footer {
      border-top: 1px solid #eee;
      padding-bottom: 16px;
    }
  }

  .panel-feedback {
    background-color: #fcf8f3;
    border: 1px solid #e5e5e5;
    padding: 16px 10px;
    margin-top: 16px;
    margin-left: -10px;
    border-radius: 4px;

    h3 {
      margin: 0px;
      padding-bottom: 4px !important;
    }

    p {
      font-size: 14px;
      margin: 8px 0;
    }

    a {
      font-size: 16px;
    }
  }

  .postbox {
    h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      padding: 12px;
      cursor: default !important;
    }

    ul.sides {
      overflow: hidden;

      h3 {
        padding: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 4px !important;
      }

      li {
        float: left;
        width: 50%;
      }

      &.sides-single {
        li {
          width: 100%;
        }
      }

      .statistics-count {
        p {
          font-size: 14px;
          margin: 0;
        }

        span {
          font-size: 24px;
        }
      }
    }

    h3.premium {
      margin-top: 24px !important;
      margin-bottom: 10px !important;
    }

    ul.premium {
      margin-bottom: 24px;
    }

    p.upgraded {
      color: #ffd700;
      display: block;
      text-align: center;
    }
  }
}
